<main>
    <h1>Hello word</h1>
    <h1 class="text-center">Hello word</h1>
    <h1 class="text-center text-uppercase">Hello word</h1>
    <h2>Second</h2>
    <h2 class="text-end">Second</h2>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3>wow super 3</h3>
    <h3 class="text-capitalize">wow super super-3</h3>

    <hr>

    <div class="display-1">Hello word</div>
    <div class="display-1 text-muted">Hello word</div>
    <div class="display-5">Second</div>
    <div class="display-6">wow 3</div>

    <hr>

    <span class="text-muted">Додатковий текст</span>
    <div class="text-muted text-end">Додатковий текст</div>
    <div class="text-muted text-end">
        Додатковий <span class="display-6">текст</span>
    </div>

    <hr>

    <button class="btn btn-primary">Основний</button>
    <button class="btn btn-primary">
        <span class="text-uppercase">Test button</span>
    </button>
    <button class="btn btn-primary">
        <span class="text-uppercase">Test button</span>
        <h1>Test</h1>
    </button>
    <button class="btn btn-secondary">
        <span class="text-uppercase">Додатковий</span>
    </button>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-success">Успішний</button>
            <br>
            <button class="btn btn-danger">Небезпечний</button>
            <br>
            <br>
            <button class="btn btn-warning">Попередження</button>
            <button class="btn btn-info">Інформація</button>
            <button class="btn btn-light">Світлий</button>
            <button class="btn btn-dark">Темний</button>
            <button class="btn btn-link">Посилання</button>
            <a href="#" class="btn btn-link">Посилання</a>
            <a href="#" class="btn btn-primary">Посилання</a>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-body">
            <p>My text</p>
            <p class="text-primary">My text</p>
            <p class="text-secondary">My text</p>
            <p class="text-muted">My text</p>
            <p class="text-success">My text</p>
            <p class="text-danger">My text</p>
            <p class="text-warning">My text</p>
            <p class="text-info">My text</p>
            <p class="text-light">My text</p>
            <p class="text-dark">My text</p>
        </div>
    </div>

    <hr>
    <button class="btn btn-outline-primary">My button</button>
    <button class="btn btn-secondary">Додати</button>
    <button class="btn btn-outline-secondary">Редагувати</button>
    <button class="btn btn-outline-danger">Видалити</button>
    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
    <br>
    <div class="card">
        This is content
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary">My button</button>
            <button class="btn btn-secondary">Додати</button>
            <button class="btn btn-outline-secondary">Редагувати</button>
            <button class="btn btn-outline-danger">Видалити</button>
        </div>
    </div>






</main>