{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main class="p-5">
    <div class="row g-3">
        <div class="col-12">

            <div class="mt-5">
                {{#with main}}
                <h2>
                    {{title}}
                </h2>
                <p>{{text}}</p>
                <div class="mt-5">
                    {{#each button}}
                    <div class="row">
                        <div class="col-4 my-2">
                            <a href="{{link}}" type="button" class="btn btn-primary">{{text}}</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/with}}
            </div>
        </div>
    </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}